/* 

    Project: Quick Calc
    Developer: Richard Haddad

    Start Date: 04.10.2021
    Last Modified: XX.XX.2021

    File Purpose: Styling for Night / Dark Mode

*/

main.calculator-body {
    background-color: #283637;
}

button.btn-clear {
    background-color: #6c807e;
    color: white;
}

button.btn-number {
    color: white;
}

button.btn-number:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

nav.main-nav ul.main-nav-list .nav-item {
    color: #6c807e;
}

nav.main-nav ul.main-nav-list .nav-item:hover {
    color: white;
}

nav.main-nav ul.main-nav-list .btn-light-mode {
    display: block;
}

nav.main-nav ul.main-nav-list .btn-dark-mode {
    display: none;
}