/* 

    Project: Quick Calc
    Developer: Richard Haddad

    Start Date: 04.10.2021
    Last Modified: XX.XX.2021

    File Purpose: Styling for Day / Light Mode

*/

button.btn-clear {
    background-color: white;
}

button.btn-number:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

nav.main-nav ul.main-nav-list .nav-item {
    opacity: 0.5;
}

nav.main-nav ul.main-nav-list .nav-item:hover {
    opacity: 1.0;
}

nav.main-nav ul.main-nav-list .btn-dark-mode {
    display: block;
}

nav.main-nav ul.main-nav-list .btn-light-mode {
    display: none;
}