/* 

    Project: Quick Calc
    Developer: Richard Haddad

    Start Date: 04.10.2021
    Last Modified: XX.XX.2021

    File Purpose: Styling for Day / Light Mode

*/

button.btn-clear {
    background-color: white;
}

nav.main-nav ul.main-nav-list .btn-dark-mode {
    display: block;

    opacity: .5;
}

nav.main-nav ul.main-nav-list .btn-dark-mode:hover {
    opacity: 1;
}

nav.main-nav ul.main-nav-list .btn-light-mode {
    display: none;
}