/* 

    Project: Quick Calc
    Developer: Richard Haddad

    Start Date: 04.10.2021
    Last Modified: XX.XX.2021

    File Purpose: Main Styling for project

*/

* {
    box-sizing: border-box;

    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

main.calculator-body {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 875px;

    justify-content: center;
    align-items: stretch;

    border-radius: 50px;
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
}

section.calculator-display {
    width: 100%;
    height: 35%;
}

section.calculator-controls {
    display: block;

    flex-grow: 2;

    padding: 25px;
}

section.calculator-buttons {
    display: grid;
    
    width: 100%;
    height: 100%;

    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "controls-row1"
      "controls-row2"
      "controls-row3"
      "controls-row4"
      "controls-row5";
}

.controls-row1 { grid-area: controls-row1; }
.controls-row2 { grid-area: controls-row2; }
.controls-row3 { grid-area: controls-row3; }
.controls-row4 { grid-area: controls-row4; }
.controls-row5 { grid-area: controls-row5; }

.controls-row1,
.controls-row2,
.controls-row3,
.controls-row4,
.controls-row5 {
    display: flex;
    flex-direction: row;

    margin: 5px 0;

    flex-wrap: nowrap;

    justify-content: space-evenly;
}

button {
    cursor: pointer;

    display: block;

    height: 74px;
    width: 74px;

    border-radius: 50%;
    border: none;
    outline: none;

    font-size: 2rem;
}

button.btn-clear {
    padding-top: 5px;
    padding-right: 8px;
}

button.btn-function {
    padding-top: 5px;
    background-color: white;
    color: #019386;
}

button.btn-number {
    background-color: transparent;

    transition: all 0.15s ease-in;
}

/* Navigation Controls */
nav.main-nav {
    height: 8%;
}

nav.main-nav ul.main-nav-list {
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;

    margin: 0 20px;
    padding: 0 20px;
    
    height: 100%;

    border-bottom: 1px solid lightgray;

    font-size: 1.7rem;
    list-style-type: none;

    justify-content: space-between;
    align-items: center;
}

nav.main-nav ul.main-nav-list .nav-item {
    cursor: pointer;

    transition: all 0.25s ease;
}